<a href="https://colab.research.google.com/github/chsachin799/100-days-of-ML/blob/main/51_Simple_Linear_Algo_Making.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
class meraLR:
  def __init__(self):
    self.m = None
    self.b = None

  def fit(self,x_train,y_train): # here we will deal with 'm' and 'b'
    num = 0
    denum = 0
    for i in range(x_train.shape[0]):
      num = num + ((x_train[i] - x_train.mean()) * (y_train[i]-y_train.mean()))
      denum = denum + ((x_train[i]-x_train.mean()) * (x_train[i]-x_train.mean()))
    self.m = num/denum
    self.b = y_train.mean() - (self.m * x_train.mean())
    print(self.m)
    print(self.b)


  def predict(self,x_test):
    return self.m * x_test + self.b

In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('placement (1).csv')

In [7]:
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [8]:
x = df.iloc[:,0].values # used .values to convert it into numpy array
y = df.iloc[:,1].values

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [24]:
lr = meraLR()

In [26]:
lr.fit(x_train,y_train)

0.5742564727019197
-1.0270069374542108

In [27]:
lr.predict(x_test[0])

np.float64(2.7803134765595168)